body{
  width: 100vw;
  height: 100vh;
}

#root{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menu-div{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
}

.menu-buttons-div{
  margin-top: 30px;
}

.err-div{
  color: red;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.game-div{
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(255, 102, 0), rgb(255, 217, 0));
}

:root{
  
  --cardWidth: 110px;
  --cardHeight: 160px;
}
/*------------------------------------------------*/
#card{

  background-image: url("./UNO-Front.png");
  background-position: 0,0;
  background-size: calc(var(--cardWidth)*10) calc(var(--cardHeight)*7);
  width: var(--cardWidth);
  height: var(--cardHeight);
}

#card:hover{
  border: 3px solid rgb(81, 131, 240);
  border-radius: 10px;
}

